.top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    overflow: hidden;
    padding: 20px 0;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.nav {
    display: flex;
    gap: 20px;
    margin: 5px 30px;
    text-align: center;
    list-style: none;
}

