.main{
  width: 100%;
  margin: 0 auto;
}

.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  overflow: hidden;
  padding: 20px 0;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  gap: 20px;
  margin: 5px 30px;
  text-align: center;
  list-style: none;
}

.content {
  display: flex;
  flex-direction: column; 
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

.post {
  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }

  & > ul{
    list-style-type: disc;
    list-style-position: inside;
  }
}